.header-area {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: visible; /* <- AGORA A LOGO PODE SAIR DO HEADER */
}

.header-banner {
    width: 100%;
    height: 144%;
    object-fit: cover; /* garante que ele preencha sem deformar */
}

.header-logo {
    position: absolute;
    bottom: -100px;
    right: 25px;
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}

.menu-scroll {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.menu-scroll::-webkit-scrollbar {
    height: 6px;
}
.menu-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}

.menu-btn {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    white-space: nowrap;
    font-size: 15px;
}

.item-img {
    width: 110px;
    height: 80px;
    object-fit: cover;
    border-radius: 7px;
}

.accordion-button {
    font-size: 18px;
    padding: 10px;

}

.accordion-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px !important;
}

.cardapio-wrapper {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.titulo-cardapio {
    margin-left: -113px;
    margin-top: 70px;
}
