/* =======================
   CORES FUNDO
========================== */

body {
    background-color: #ffffff !important;
    color: #053055 !important;
    text-shadow: 0 0 2px #d4eaf1;
}

/* Accordion fechado */
.accordion-button {
    background-color: #ffffff !important;
    color: #053055 !important;
    border-bottom: 1px solid #302b2b !important;
}

/* Accordion aberto */
.accordion-button:not(.collapsed) {
    background-color: #ffffff !important;
    color: #053055 !important;
}

/* Área interna */
.accordion-body {
    background-color: #ffffff !important;
    color: #053055 !important;
}

/* Item do accordion */
.accordion-item {
    background-color: #ffffff !important;
    border: 1px solid #403b3b !important;
}

b, strong {
    font-weight: 200 !important;
}

/* =======================
   HEADER
========================== */
.header-area {
    position: relative;
    width: 100%;
    height: 200px; /* tamanho ideal desktop */
    overflow: visible;
}

.header-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header-logo {
    position: absolute;
    bottom: -60px;
    right: 25px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}

header,
.header-area {
    background-color: #ffffff !important;
}
/* =======================
   MENU SCROLL
========================== */
.menu-scroll {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    background: #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
}

.menu-btn {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #333232 !important;
    background: #ffffff !important;
    color: #053055 !important;
    white-space: nowrap;
    font-size: 15px;
}

.menu-btn:hover {
    background: #ffffff !important;
}

.menu-scroll::-webkit-scrollbar {
    height: 6px;
}
.menu-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}


/* =======================
   CARDÁPIO
========================== */
.item-img {
    width: 110px;
    height: 80px;
    object-fit: cover;
    border-radius: 7px;
}

.accordion-button {
    font-size: 18px;
    padding: 10px;
}

.accordion-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px !important;
}

.cardapio-wrapper {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}


/* =======================
   TÍTULO — DESKTOP - teste
========================== */
.titulo-cardapio {
    margin-top: 70px;
    margin-left: 20px;
    text-align: left;
    font-family: 'Cinzel', serif; /* fonte estilo premium */

    font-size: 32px;
}


/* =======================
   RESPONSIVO — CELULAR
========================== */
@media (max-width: 768px) {

    .header-area {
        height: 150px;
    }

    .header-banner {
        height: 100%;
        object-fit: cover;
    }

    .header-logo {
        width: 80px;
        height: 80px;
        bottom: -35px;
        right: 10px;
        border-width: 3px;
    }

    .titulo-cardapio {
        margin-top: 55px !important; /* desce abaixo da logo */
        margin-left: 10px !important;
        font-size: 26px;
    }

    .cardapio-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}
